log
tmp
config/database.yml
db/*.sqlite*
db/*.sql
.DS_Store
Thumbs.db
public/attachments
public/robots.txt
sh.exe.stackdump
coverage*
*~
config/deploy.rb
config/environments/production.rb
config/initializers/hoptoad.rb
config/initializers/session_store.rb
