/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/
FORM.formtastic{width:80%;margin:0 auto}

FORM.formtastic FIELDSET.inputs SPAN.label, FORM.formtastic FIELDSET.inputs .string LABEL,
FORM.formtastic FIELDSET.inputs LI.password LABEL, FORM.formtastic FIELDSET.inputs LI.text LABEL,
FORM.formtastic FIELDSET.inputs LEGEND.label{font-size:1.2em;line-height:1em;color:#666;font-weight:700;white-space:nowrap}
FORM.formtastic FIELDSET.inputs LI{border-bottom:1px solid #ddd;padding-bottom:20px}
FORM.formtastic FIELDSET.inputs LI.last{border:none;padding-bottom:0}
FORM.formtastic FIELDSET.inputs LI LI{border:none;padding-bottom:0}
FORM.formtastic FIELDSET.inputs LI.hidden{display:none;}

FORM.formtastic FIELDSET.buttons OL LI{float:right;}
FORM.formtastic FIELDSET.buttons OL LI, FORM.formtastic FIELDSET.buttons OL LI INPUT {background:transparent url('/images/sprite_buttons.png') no-repeat -960px 0;border:0;padding-right:10px;color:#fff;cursor:pointer}
FORM.formtastic FIELDSET.buttons OL LI INPUT {padding:6px 0 8px 10px;line-height:20px;font:400 1.2em arialRounded,arial,sans;white-space:nowrap}
FORM.formtastic FIELDSET.buttons OL LI.commit{background-position:right -60px}  FORM.formtastic FIELDSET.buttons OL LI.commit INPUT{background-position:0 -60px}
FORM.formtastic FIELDSET.buttons OL LI.commit.blueB{background-position:right -300px}  FORM.formtastic FIELDSET.buttons OL LI.commit.blueB INPUT{background-position:0 -300px}

FORM.formtastic.projectForm{width:80%;margin-left:20px}
FORM.formtastic.projectForm LEGEND{display:none;}
FORM.formtastic.projectForm OL{padding:0;width:100%}