<% title "New User" %>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<h2 id="get_involved">Get Involved</h2>
<p class="byline">Contribute more than money to the causes you care about. Let us know how you'd like to get involved and how we can reach you.</p>
<%= render :partial => 'form' %>

