<% title "New User" %>
<h2 id="get_involved">Get Involved</h2>
<p class="byline">Maecenas ac diam non lectus accumsan euismod. Ut vel nulla. Quisque leo elit, facilisis tempor, fermentum eu, elementum quis, diam. Integer in libero ac nibh aliquam commodo. Mauris eu ligula quis mi convallis faucibus. </p>
<%= render :partial => 'form' %>

