<% title "About Us" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('About') %>
<% end %>

<h2>About</h2>
<p><em>Friends of We</em> is a non-profit, all-volunteer organization. Our volunteers contribute their passions, talents and professional skills  to develop local and global Public Service Advertising campaigns. We are building a community of shared knowledge resources and tool sets to help public campaigns and organizations drive effective communications.. You can learn more about <%= link_to "our mission and goals here", page_path('mission') %>.</p>
<p><em>Friends of We</em> challenges  Account Planners, Account Directors, UI Designers, Developers and Information Architects to contribute a few hours of their time as we build Public Service Advertising campaigns on behalf of and in collaboration with non-profits and in purist of the general public interest. With the right leadership, organization and infrastructure, professional volunteers can contribute their talents and passions to make an impact that financial contributions alone could never buy.</p>
<p>We're still just getting started and we need your help.  If you would like to get involved, please <%= link_to "volunteer", page_path('get-involved') %> or <%= link_to "drop us a note", new_contact_path %>.</p>
<h3>Background Story</h3>
<blockquote>
  <p>"Answering phones and soliciting donations for a candidate fund raising event in 2004, I was sometimes greeting by the occasional developer or attorney eager to contribute more than the $300 we were asking for.  They wanted to volunteer for something they cared passionately for.  While I passed those names along, nothing ever came from it.  This was something I wanted to change.</p>
  <p>"I kept thinking that there had to be a way to bring together these passionate professionals. After all, Any attorney willing to volunteer time that might otherwise be biling at $300 an hour, can contribute so much more value than could with their dollars.</p>
  <p>"I presented the idea to my boss and curtly told 'You're such a character,' before she immediately changed the subject.  While discouraged then, the time now seems right to create the sort of volunteer organization I hope Friend Of We will become.</p>
  <p class="lastBottom indent">&ndash; Mario Olivio Flores<br /> <em>Founder &amp; Team Lead</em></p>
</blockquote>

<p class="small" id="noteOne"><strong>Legal Note:</strong> We are in the process of filing as a 501(c)(3) organization.</p>