<% title "About Us" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('About') %>
<% end %>

<h2>About</h2>
<p><em>Friends of We</em> 
Friends of We is a non-profit, all-volunteer organization that aims to aggregate the passions, talents and professional skills of individuals who wish to contribute to their local and global communities. Our initial focus is on Public Service Online Advertising campaigns. In the longer term, we hope to build a robust community with shared knowledge resources and tool sets to effectively aggregate the professional talents of our volunteers. You can learn more about <%= link_to "our mission and goals here", page_path('mission') %>.</p>
<p><em>Friends of We</em> challenges the Account Planners, Account Directors, UI Designers, Developers and Information Architects to contribute a few hours of their time as we build Public Service Advertising campaigns on behalf of and in collaboration with non-profits and in purist of the general public interest. With the right leadership, organization and infrastructure, professional volunteers can contribute their talents and passions to make an impact that financial contributions alone could never buy.</p>
<p>We're still just getting started and we need your help.  If you would like to get involved, please <%= link_to "volunteer", page_path('get-involved') %> or <%= link_to "drop us a note", new_contact_path %>.</p>
<h3>Background Story</h3>
<blockquote>
  <p>"In 2004, while answering phones and soliciting donations for a presidential candidate, I was sometimes greeting by supporters eager to contribute more than the $200 we were asking for.  It was the occasional developer or attorney who wanted to contribute their professional talents to help a campaign the cared passionately for.  While I passed those names along, nothing ever came from that.  This was something I wanted to change.</p>
  <p>"Sadly, my candidate lost the election, but I kept thinking that there had to be a way to bring together these professional volunteers. An attorney will to volunteer their time to a campaign or organization, who might otherwise be billing $300 an hour, can contribute a lot more with their time than they likely would with their dollars.</p>
  <p>"After gathering my thoughts, I presented the idea to my boss and was told 'You're such a character,' before she immediately changed the subject.  While discouraged them, the time now seems right to create the sort of volunteer organization I hope Friend Of We will become.</p>
  <p>"The name is inspired by a 90s song by The Refreshments called Friends of P."</p>
  <p class="lastBottom indent">&ndash; Mario Olivio Flores<br /> <em>Founder &amp; Team Lead</em></p>
</blockquote>

<p class="small" id="noteOne"><strong>Legal Note:</strong> We are in the process of filing as a 501(c)(3) organization.</p>