<% title "Our Goals" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('volunteer') %>
<% end %>

<h2>Volunteer</h2>
<p><em>Friends of We</em> insert pitch here.</p>
<dl>
  <dt><%= link_to "Find a Campaign", projects_url %></dt>
  <dd>Find a campaign you want to volunteer for</dd>
  <dt><%= link_to "Volnteer", new_commitment_url %></dt>
  <dd>If you want to get involved however you can, click to volunteer for any campaign.</dd>
</dl>
  
 