<% title "Get Involved: Volunteer" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<h2>Contribute more than money to the causes you care about.</h2>
<p class="byline">It's sometimes said that Agencies do their best work on new business pitches. New business is only about only one thing - not the egos deadlines, not the politics, not the clients trying to get their nephew in a shot - it's about the work.  Where else can you find this drive? Volunteering for the social causes your passionate about. Join Us. Work with like minded peers who are bringing their best game to the table.  You'll learn from them and they'll learn from you.  You'll make a real, tangible contribution you can see to the causes you care about.</p>
<p class="byline bottom20">Pursue your passion. Learn from peers. Make an impact. <strong>Volunteer.</strong> </p>


<div id="introduction" class="bottom20">
  <h3>Get Started:</h3>
  <p>Volunteers with talents from account planning, art direction, Ruby on Rails development or more administrative roles are encouraged to get involved, even if it's for only a few hours. </p>
  <dl class="withBottons">
    <dt><%= link_to content_tag(:span, "Find a Campaign", :class => "buttonsInner"), projects_url, :class => "buttons redB left" %></dt>
    <dd>Find a campaign you want to volunteer for.</dd>
    <dt><%= link_to content_tag(:span, "General Volunteer", :class => "buttonsInner"), new_commitment_url, :class => "buttons greenB left" %></dt>
    <dd>Volunteer for any campaign, wherever you're needed.</dd>
    <dt><%= link_to content_tag(:span, "Submit an Idea", :class => "buttonsInner"), '#', :class => "buttons yellowB left" %></dt>
    <dd><em>Coming Soon:</em> In the coming months, we'll be looking to the community for future campaign ideas.</dd>
  </dl>
</div>

