<% title "Get Involved: Volunteer" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<h2>Contribute more than money to the causes you care about.</h2>
<p class="byline">It's sometimes said that Agencies do their best work in their new business pitches.  Before the egos, before the deadlines and before the constraints  and headaches of agency life, it's about only one thing - the work.  You'll find this drive and passion for the work by volunteering.  You'll work with like minded peers who are bringing their best game to the table.  You'll learn from them and they'll learn from you.  You'll make a real impact on the causes you care about.</p>
<p class="byline bottom20">Hone your talents. Learn from peers. Make an impact. <strong>Volunteer.</strong> </p>


<div id="introduction" class="bottom20">
  <h3>Get Started:</h3>
  <p>Volunteers with talents from art direction, Ruby on Rails development or more administrative roles are encouraged to get involved, even if it's for only a few hours. </p>
  <dl class="withBottons">
    <dt><%= link_to content_tag(:span, "Find a Campaign", :class => "buttonsInner"), projects_url, :class => "buttons redB left" %></dt>
    <dd>Find a campaign you want to volunteer for.</dd>
    <dt><%= link_to content_tag(:span, "General Volnteer", :class => "buttonsInner"), new_commitment_url, :class => "buttons greenB left" %></dt>
    <dd>If you want to get involved however you can, wherever you're needed, click here to volunteer for any campaign.</dd>
  </dl>
</div>

