<% title "Our Goals" %>

<% content_for :main_menu do %>
  <%= main_menu('Our Goals') %>
<% end %>

<h2>Our Goals</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec viverra. Duis pellentesque. Etiam elit libero, pretium eget, luctus eu, dapibus eget, mauris. Pellentesque orci. Donec sed turpis. Pellentesque risus mauris, adipiscing id, consectetuer a, iaculis eget, orci. Donec vitae diam. Donec iaculis arcu vitae velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer molestie, quam sed adipiscing mattis, turpis nisi sagittis orci, faucibus egestas enim orci in nulla.</p>
<p>Morbi dolor elit, pulvinar quis, porttitor in, lobortis id, felis. Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit massa vitae elit. Donec consectetuer augue at leo. Sed tincidunt pede sed libero. Donec urna. Maecenas bibendum risus et ligula. Sed vestibulum, pede sed porttitor imperdiet, enim nunc laoreet purus, nec pulvinar lectus nisl vel pede. Donec velit orci, commodo id, sodales id, eleifend malesuada, ante. Quisque dui diam, malesuada at, aliquam in, aliquet vitae, metus. Sed arcu sem, posuere sit amet, accumsan non, lacinia in, elit. Pellentesque suscipit neque nonummy massa.</p>
<p>Maecenas tempor. Aliquam porttitor interdum ante. Pellentesque sollicitudin. Nulla vitae est. Etiam a diam id pede semper sollicitudin. Maecenas quis mi ut est imperdiet ullamcorper. Pellentesque quis metus vitae metus tempus mattis. Mauris magna sem, consectetuer lobortis, semper eget, sagittis placerat, odio. Mauris risus mauris, aliquet a, placerat vitae, tristique ac, magna. Proin at velit ac lacus eleifend blandit. Nam tincidunt consectetuer sem. In pellentesque nisi ac nibh. Nulla mi diam, rhoncus adipiscing, fringilla vel, viverra sed, ligula. Curabitur quis enim. Integer lobortis mauris in metus commodo fringilla. Nullam felis.</p>
