<% title "Our Goals" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('Our Goals') %>
<% end %>
<h3>Overview</h3>
<p>Our immediate goals are to demonstrate a capability to deliver results while building the momentum and energy that will attract other professionals.  Building our first campaign success will help us establish a brand for Friends of We among public service directors at broader media outlets and give us some standing upon which we can build more successful campaigns.</p>
<p>In the longer term, we would hope to:</p>
<ul>
  <li>Provide an infrastructure to effectively plan, create and promote PSA campaigns driven by the best practices from our member communities.</li>
  <li>Provide a framework, knowledge resources and possibly a tool set (web application) that would allow a more general audience to learn advertising/industry best practices and deploy those practices within their own organizations and communications, whether they be local, regional or national campaign.</li>
  <li>Branch out from a focus on communications to one that includes other disciplines.</li>
</ul>
<p>It will require time, planning and dedication to build the infrastructure we need to achieve those goals, but with many small contributions of time from many volunteers, this will be possible. </p>
<h3>Ideas for future growth</h3>
<p>In the longer term, we would hope to:</p>
<ul>
  <li><strong>Man on the Street Teams</strong> &ndash; </li>
  <li><strong>Man on the Street Teams</strong> &ndash; </li>
</ul>

