<div id="introduction">
        <h2>Welcome</h2>
        <p class="byline">We are a group of professional volunteers getting it done.  Morbi dolor elit, pulvinar quis, porttitor in, lobortis id, felis. Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit massa vitae elit. Donec consectetuer augue at leo. Sed tincidunt pede sed libero. Donec urna.  Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit.</p>
        <a href="#" class="buttons redB"><span class="buttonsInner">Get Involved</span></a>
        <a href="#" class="buttons yellowB"><span class="buttonsInner">Learn More</span></a>
      </div>
      <div class="column w510 left">
        <h2 class="header_bg blue bottom20"><%= link_to 'Campaigns', projects_path %></h2>
        <ul id="campaigns" class="withIndicators">
          <% for project in @projects %>
          <li>
            <div class="clear">
              <h3><a href="#"><%= project.name %></a></h3>
              <a href="#" class="indicators red"><span>Volunteer</span></a>
            </div>
            <p><%= truncate_html(project.description, :length => 150, :omission => '... ') %> <%= link_to 'More', project_path(project) %></p>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="column w360 right last">
        <h2 class="header_bg yellow bottom20"><a href="#">weBlog</a></h2>
        <ul id="blog">
          <li>
            <h3 class="red">11/12 <a href="#">Site Launch!</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec viverra. Duis pellentesque. Etiam elit libero, pretium eget, luctus eu, dapibus eget, mauris. Pellentesque orci.<a href="#">More</a></p>
          </li>
          <li>
            <h3 class="red">11/12 <a href="#">Site Launch!</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec viverra. Duis pellentesque. Etiam elit libero, pretium eget, luctus eu, dapibus eget, mauris. Pellentesque orci.<a href="#">More</a></p>
          </li>
        </ul>
      </div>
    