<% title "Our Mission" %>

<% content_for :content_class, content_class('generalText') %>

<% content_for :main_menu do %>
  <%= main_menu('Mission') %>
<% end %>

<h2>Our Mission</h2>
<p>Our growing community of volunteers contribute their passions, talents and professional skills to develop local and global Public Service Advertising campaigns in pursuit of making science to a non-technical public.</p>
<p>As we are just getting started, our shorter term goals are to demonstrate a scalable volunteer model and build the momentum and energy that will attract more volunteer professionals. You can learn more about our <%= link_to('our immediate goals here', 'http://weblog.friendsofwe.org/post/246849155/getting-started-and-building-momentum') %>.</p>
<p>In the longer term, we would hope to:</p>
<ul>
  <li>Expand our to pursue campaigns in the general public interest, rather than specific to science.</li>
  <li>Continue building a community of engaged volunteers eager to give back to the community.</li>
  <li>Develop an organization that is responsive to the needs of that community.</li>
  <li>Collaborate and build relationships with other non-profits we can help.</li>
  <li>Provide an infrastructure to effectively plan, create and promote PSA campaigns driven by  best practices from our member communities.</li>
  <li>Provide a framework, knowledge resources and possibly a tool set (web application) that would allow others learn advertising/industry best practices and deploy those practices within their own organizations and communications, whether they be local, regional or national campaign.</li>
</ul>
<p>It will require time, planning and dedication to build the infrastructure we need to achieve our goals, but with many small contributions of time from many volunteers, this will be possible. </p>
<h3>Our Ideals</h3>
<ul>
  <li><strong>Professionalism:</strong> <em>Friends of We</em> is a professional organization founded by professionals for professionals. </li>
  <li><strong>Community driven:</strong> We are nothing without our members. We hope to build an organization that is driven by and responsive to our volunteer communities needs. </li>
  <li><strong>Effective:</strong> If our efforts don't yield results, we're just wasting our time. </li>
  <li><strong>Best Practices:</strong> We hold ourselves and our campaigns to the highest level of quality in execution, drawing on the expertise and best practices from our member communities to guide us. </li>
  <li><strong>Transparency:</strong> In the spirit of being community driven, we will maintain transparency in our decision making and our  financial positions.  As the organization grows, we will seek out ways to continue to be as communicative about planning and decision making as possible.</li>
  <li><strong>Non-partisan:</strong> <em>Friends of We</em> is a non-partisan organization that does not engage in political advocacy.</li>
  <li><strong>Evidence based:</strong> The only "partisanship" we can tolerate is that on the side of science.  In every campaign, we absolutely wish to provide accurate, factual information that the general public can rely upon.</li>
</ul>

