<% semantic_form_for '', :url => commitments_path, :html => {:class => 'projectForm'}  do |form| %>
  <% form.inputs do -%>
    <%= form.input :project, :as => :check_boxes, :required => false, :collection => @projects, :label => '',
      :label_method => Proc.new { |p| "<span class=\"red strong\">#{p.name}</span> &ndash; #{p.description}"}, 
      :wrapper_html => {:class => 'last'} %>
    <%= form.input :user_id, :as => :hidden, :value => current_user.id %>
  <% end -%>
  <% form.buttons do -%>
    <%= form.commit_button "Volunteer" %>
  <% end -%>
<% end %>