<% title "What Projects Would You Like to Volunteer for? &raquo; Get Involved" %>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to "&laquo; Back", :back %></p>
