<% title "What Projects Would You Like to Volunteer for? &raquo; Get Involved" %>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<h2>Volunteer</h2>
<%= render :partial => 'form' %>
