<% title "What Projects Would You Like to Volunteer for? &raquo; Get Involved" %>

<p class="volunteer">Contribute more than money to the causes you care about. If you're interested in getting involved, please let us know and the campaign manager volunteer will get back to you. </p>

<% content_for :main_menu do %>
  <%= main_menu('Volunteer') %>
<% end %>

<h2>Volunteer</h2>
<%= render :partial => 'form' %>
