<% title "New User Session" %>

<h2 id="log_in">Log In</h2>
<% semantic_form_for @user_session do |form| %>
  <% form.inputs do -%>
    <%= form.input :email %> 
    <%= form.input :password, :wrapper_html => {:class => "last"}  %>
  <% end -%>
  <% form.buttons do %>
    <%= form.commit_button :label => 'Log in' %>
  <% end %>
<% end %>
<p class="column w80p">
  <%= link_to "Lost Password?", new_password_reset_path, :class => 'right' %>
</p>